@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
	
#content{
	min-height:600px;
	width:1000px;
	margin:auto;
	padding-bottom:60px;
}
#header {
	background-color: #9fda58;
	height: 176px;
	width: 1200px;
}
#colonne_gauche{
	background-color: #9fda58;
	float:left;
	width:202px;
}
#navigation {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation li {
  background: #c00 ;
  color: #BCEE7C ;
  border: 1px solid #600 ;
  margin-bottom: 1px ;
	float:left;
}
#navigation li a {
  display: block ;
  background: #121212 ;
  color: #BCEE7C ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none; ;
  padding: 0px 10px ;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #4c4c4c ;
  text-decoration: underline ;
  color: #E3FFFF;
}

.correct {
	color: green;
}

.erreur{
	color:red;
}

.question{
	text-decoration: underline;
	font-weight: bold;
}
table.box
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
table.box th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
table.box td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
table.box tr:hover td
{
	background: #d0dafd;
	color: #339;
}