!!! 5
- attributes("title")="Démonstration de patterns web"

h1 Démonstration de patterns Web

p L'objectif de cet application est de mettre en place certains patterns courant trouvé dans une application Web.
p Ce projet est développé en Scala avec Scalatra. Néanmoins, la résolution des patterns est portable dans la plupart des langages et frameworks de présentation.

h2 Patterns

h3 
	a{:href => "/master/"} Master-detail

p Pattern courant qui part d'une liste d'items pour afficher le détail de l'un deux, puis du détail permet de revenir à la liste.
p C'est un pattern de base qui est utilisé dans de nombreux autres et connaît des variations.
b Variations
ul
	li Résultats de recherche
	li Table paginée

h3
	a(href="/form/") Formulaires

p Pattern courant qui part d'une liste d'items pour afficher le détail de l'un deux, puis du détail permet de revenir à la liste.
